@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Patrick Hand', cursive; */
    font-family: 'Lora', serif;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #363636;
    border-radius: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
body {
background-image: url('pastel.png');
background-attachment: fixed;
background-size: 500px;
}

header{
    display: none !important;
    transition: 1s ease all;
    height: 75px;
    /* background-color: #F24A72; */
    background-color: rgb(238, 238, 238);
    z-index: 999;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.row{
    --bs-gutter-x: 0rem !important;
}
.scrollheader{
    /* background-color: #F24A72; */
    background-color: rgb(238, 238, 238);
    color:black !important; 
    position: fixed;
    width: 100%;
    height: 75px !important;
    transition: 1s ease all;
    /* animation-name: desplegar;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
    overflow: hidden;
   z-index: 50;
}
.scrollmargin{
    width: 100%;
    height: 150px;
    /* background-color: purple; */
}
#logo{
    margin-top: 20px;
    margin-left: 120px;
    font-family: 'Courgette', cursive !important;
}
/* .enlaces{
    margin-top: 13px;
} */
.accionesmenu{
    margin-top: 13px;
}
a{
    text-decoration: none;
    color: black;
}
@keyframes desplegar {
    0%   {height: 0px;}
    100%  {height: 50px;padding-left: 150px;padding-right: 150px;}
  }


  .carrousel{
      width: 100%;
      height: 100%;
      /* background-color: #ffdfc6; */
      z-index: 0;
  }
  .tarjeta{
      width: 70%;
      height: 770px;
      background-color: white;
      margin: auto;
      box-shadow: 0px 5px 5px 3px rgba(102, 102, 102, 0.384);
      border: 2px solid black;
      border-radius: 8px;
      /* padding-top: 10px; */
  }
  .tarjetas{
      margin-bottom: 150px;
  }
  .contenedortarjetas{
      padding-top: 150px;
      background-image: url('hamburguesa.jpg');
      background-attachment: fixed;
  }
  .imagentarjetas{
      width: 100%;
      height: 600px;
      background-color: wheat;
      margin: auto;
      background-image: url('plato1.jpg');
      background-position: center;
      background-size: cover;
  }
  .imagentarjetas2{
    width: 100%;
    height: 600px;
    background-color: wheat;
    margin: auto;
    background-image: url('imagen1.jpg');
    background-position: center;
    background-size: cover;
  }
  .titulotarjeta{
      text-align: center;
      margin-top: 10px;
      font-weight: bold;
  }
  .textotarjeta{
      text-align: center;
      font-size: 20px;
      color: rgb(58, 58, 58);
  }
  .btntarjeta{
      display: block;
      margin: auto;
      height: 50px;
      width: 200px;
      border-radius: 8px;
      border-style: none;
      background-color: #F24A72;
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
  }
.secion{
    width: 100%;
    height: auto;
    /* background-color: #F24A72; */
    margin-bottom: 150px;
}
.rowsecion{
    width: 90%;
    margin: auto;
}
.tarjetassecion{
    width: 90%;
    height: 500px;
    background-color: white;
    margin: 20px;
    padding-top: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 5px 3px rgba(102, 102, 102, 0.384);
}
.imagen{
    width: 97%;
    height: 300px;
    background-color: white;
    margin: auto;
}
.titulotarjetas{
    text-align: center;
    margin-top: 20px;
}
.tarjetassecion:hover{
  
    /* transition: 5s ease all; 
    animation-name: desplegartarjeta;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}
.textotarjeta{
    margin: 0px 15px;
}
.enlacetarjeta{
    background-color: #F24A72;
    font-size: 20px;
    color: white;
    float: right;
    margin: 5px 15px;
    border-style: none;
    width: 90%;
    height: 50px;
    border-radius: 8px;
}
@keyframes desplegartarjeta {
    0%   {height: 260px;}
    100%  {height: 350px;}
  }
  @keyframes encogertarjeta {
    0%   {height: 350px;}
    100%  {height: 260px;}
  }
  footer{
      height:auto;
      width: 100%;
      background-color: white;
  }






.flecha{
    width: 300px;
    position: relative;
    top: -116px;
    left: 35%;
    z-index: 55;
}


  .panelanimado{
      /* width: 100%; */
      /* padding-top: 1px; */
      height: 500px;
      background-color: cadetblue;
      /* margin-top: 150px; */
      overflow: hidden;
  }
  .sinaminar{
    width: 220vh;
    height: 100%;
    background-color: #F24A72;
    background-image: url('patron.jpg');
    background-size: 200px;
    margin: auto;
  }
  .btnanimado{
    position: relative;
    top: -60px;
    /* left: -50px; */
    right: 0px;
    float: right;
    border-style: none;
    width: 200px;
    height: 50px;
  }
  .fondobtn{
    transition: 0.2s ease all;
      width: 5%;
      height: 100%;
      background-color: rgb(153, 51, 51);
  }
  .textobtn{
      position: relative;
      top: -45px;
      font-size: 24px;
  }
  .btnanimado:hover > .fondobtn{
    width: 100%;
    transition: 0.2s ease all;
  }

  #agrandar{
      width: 100px;
      height: 1%;
      /* background-color: rgb(217, 255, 0); */
      background-image: url('banner4.jpg');
      background-position: center;
      background-size: cover;
      overflow: hidden;
  }
  .textobanner{
      padding-top: 175px;
      margin-left: 17%;
      font-size: 50px;
  }
  .animacion{
    animation-name: desplegarboton;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  @keyframes desplegarboton {
    0%   { right: 0px;}
    100%  { right: 67%;}
  }
  .verde{
    background-color: green;
    background-image: url('banner1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .azul{
    background-color: blue;
    background-image: url('banner2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.amarillo{
    background-color: yellow;
    background-image: url('banner3.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#btn_menu{
    z-index: 999;
    position: relative;
    display: none;
}
.btn_mav{
    margin-top: 22px;
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  5px 5px 13px #bfbfbf,
                 -5px -5px 13px #ffffff79;
    font-weight: bold;
    font-size: 14px;
    z-index: 99999999999999;
}
@keyframes animacionbtn {
    0%   { margin-top: 45px; }
    100%  { margin-top: -45px; }
  }
  @keyframes animacionbtnini {
    0%   { margin-top: 45px; }
    100%  { margin-top: -10px; }
  }
  @keyframes animacionbtnend {
    0%   { margin-top: -45px; }
    100%  { margin-top: 45px; }
  }
  @keyframes animacionbtnendini {
    0%   { margin-top: -45px; }
    100%  { margin-top: 45px; }
  }
  @media (max-width: 995px) {
    
      #logo{
          margin-top: 10px;
      }
    .menuresponsive{
        display: none;
        position: fixed;
        top: 10%;
        width: 100%;
        height: 100%;
        background-color: rgba(54, 54, 54, 0.842);
        z-index: 999;
    }
    #btn_menu{
        z-index: 999;
        position: relative;
        display: block;
        left: 105px;
        top: 8px;
        border-style: none;
        font-size: 24px;
        padding: 0px 10px;
        border-radius: 10px;
        border: 1px solid #888;
    }
    .enlaces_responsive{
        color: white;
        margin-top: 15px;
    }
    .enlaces_responsive a{
        color: white;
        
    }
    .enlaces{
        display:none;
    }
  }
@media (max-width: 600px) {
    .tarjeta{
        width: 90%;
        height: 500px;
        background-color: white;
        margin: auto;
        box-shadow: 0px 5px 5px 3px rgba(102, 102, 102, 0.384);
        border: 2px solid black;
        border-radius: 8px;
        /* padding-top: 10px; */
    }
    .imagentarjetas{
        width: 100%;
        height: 300px;
        background-color: wheat;
        margin: auto;
        background-image: url('plato1.jpg');
        background-position: center;
        background-size: cover;
    }
    .imagentarjetas2{
      width: 100%;
      height: 300px;
      background-color: wheat;
      margin: auto;
      background-image: url('imagen1.jpg');
      background-position: center;
      background-size: cover;
    }
    .textonavbtn{
        font-size: 16px;
    }
    #logo{
        margin-left: 10px;
        font-size: 30px;
        margin-top: 10px;
    }
    .tarjetas{
        margin-bottom: 50px;
    }
    .contenedortarjetas{
        margin-top: 50px;
    }
    .panelanimado{
        display: none;
    }
        a h5{
            font-size: 14px;
        }
        a h2{
            font-size: 16px;
        }
        .menuresponsive{
            display: none;
            position: fixed;
            top: 10%;
            width: 100%;
            height: 100%;
            background-color: rgba(54, 54, 54, 0.842);
            z-index: 999;
        }
        #btn_menu{
            z-index: 999;
            position: relative;
            display: block;
            left: 35px;
            top: 8px;
            border-style: none;
            font-size: 24px;
            padding: 0px 10px;
            border-radius: 10px;
            border: 1px solid #888;
        }
        .enlaces{
            display:none;
        }
        .enlaces_responsive{
            color: white;
            margin-top: 15px;
        }
        .enlaces_responsive a{
            color: white;
            
        }
        header{
            width: 100%;
        }
        .accionesmenu h5{
            font-size: 13px !important;
        }
        @keyframes desplegar {
            0%   {height: 0px;}
            100%  {height: 50px;padding-left: 0px;padding-right: 0px;}
          }
    }
    #fondosesion{
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.671);
        z-index: 999;
    }
    .tarjetalogin{
        width: 50%;
        height: auto;
        margin-top: 5vh;
        background-color: #EAEA7F;
        border-radius: 8px;
        overflow: hidden;
    }
    .controlsesion{
        width: 100%;
        height: 50px;
        border-style: none;
        background-color: #FDAF75;
        font-size: 20px;
        transition: all ease 0.5s;
        
    }
    .controlsesion:first-child{
        border-right: 3px solid #c75600;
    }
    .controlsesion:last-child{
        border-left: 3px solid #c75600;
    }
    .controlsesion:hover{
        width: 100%;
        height: 50px;
        border-style: none;
        background-color: #ff9c51;
        transition: all ease 0.5s;
    }
    .textocontrolsesion{
        margin-top: 10px;
        font-size: 20px;
        transition: all ease 0.5s;
    }
    .controlsesion:hover > .textocontrolsesion{
        font-size: 34px;
        margin-top: 0px;
        transition: all ease 0.5s;
        transform: rotatez(20deg);
    }
    .formulariossesion{
        width: 80%;
        background-color: #fdb07500;
        margin-top: 30px;
        border: 2px solid #c75600;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
    }
    .submitformulariosesion{
        float: right;
        margin-right: 54px;
        border-style: none;
        background-color: #FDAF75;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 150px;
        height: 35px;
    }
    #salirbtn{
        background-color: #fd7575 !important;
    }

    .carousel-control-prev-icon{
        background-color: black;
        border-radius: 100%;
        height: 50px;
        width: 50px;
    }
    .carousel-control-next-icon{
        background-color: black;
        border-radius: 100%;
        height: 50px;
        width: 50px;
    }
.importante{
    background-color: #ffdbe3;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-top: 10px;
}
.textoanimado{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.animar{
    position: relative;
    right: 0px;
    /* background-color: white; */
    animation-name: animartexto;
    animation-duration: 35s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.contenidovideo{
    width: 500px;
    text-align: center;
    position: relative;
    font-weight: bold;
    top: -600px;
    left: 40%;
    color: white;
}
.botonvideo{
    width: 200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}
.textovideo{
    font-size: 70px;
}
.contenidovideoprin{
    width: 500px;
    text-align: center;
    position: absolute;
    font-weight: bold;
     top: 400PX; 
     margin-left: 40%; 
    color: white;
}

.textovideoprin{
    margin-bottom: 25px;
}
.carousel-inner{
    height: auto;
    overflow: hidden;
}
.usuario{
    display: inline;
    margin-left: 10%;
}
@keyframes animartexto {
    0%   {right: 0px;}
    100%  {right: 8700px;}
  }

  @media (max-width: 1400px) {
    .contenidovideoprin{
         margin-left: 30%; 
         top: 300px;
    }  
}
@media (max-width: 800px) {
    .contenidovideoprin{
         margin-left: 18%; 
         top: 150px;
    }  
}
@media (max-width: 500px) {
    .contenidovideoprin{
         margin-left: -15%; 
         top: 100px;
    }  

    .btn_mav {
        width: 80px;
        font-size: 12px;
        position: relative;
        left: -25px;
    }
    .verde{
        height: 100px !important;
    }
    .importante{
        position: relative;
        left: -15px;
        margin-right: 10px !important;
    }
    .usuario{
        display: none !important;
        margin-left: 10%;
    }
}




.redes{
    display: flex;
    flex-wrap: wrap;
}
.icoredes{
    margin: 0px 4px;
    font-size: 25px;
    background-color: #e9e9e9;
    padding: 5px 10px;
    border-radius: 8px;
}
.pago{
    width: 60px;
    margin: 4px;
}
.tarjetaregalo{
    background-color: white;
    width: 100%;
    height: 700px;
}
.blob{
    width: 700px;
}
.bannerregalo{
    width: 65%;
    margin: auto;
}
.titulotarjetaregalo{
    margin-top: 5em;
    font-size: 50px;
    font-weight: bold;
}
.textotarjetaregalo{
font-size: 20px;
}
.botontarjetaregalo{
    margin-top: 2em;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 10px 15px;
}
@media (max-width: 1500px) {
    .bannerregalo{
        width: 70%;
        margin: auto;
    }
    .blob{
        width: 600px;
        margin-left: 0%;
    }
    .titulotarjetaregalo{
        margin-top: 5em;
        font-size: 50px;
        font-weight: bold;
    }
    .botontarjetaregalo{
        margin-top: 1em;
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
        padding: 10px 15px;
    }
}
@media (max-width: 1000px) {
    .bannerregalo{
        width: 100%;
        margin: auto;
    }
    .blob{
        width: 400px;
        margin-left: 20%;
    }
    .titulotarjetaregalo{
        margin-top: 0.5em;
        font-size: 50px;
        font-weight: bold;
    }
    .botontarjetaregalo{
        margin-top: 0em;
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
        padding: 10px 15px;
    }
}

@media (max-width: 500px) {
    .bannerregalo{
        width: 100%;
        margin: auto;
        
    }
    .blob{
        width: 100%;
        margin-left: 0%;
    }
    video{
        margin-top: 70px;
    }
    .titulotarjetaregalo{
        margin-top: 0.5em;
        font-size: 50px;
        font-weight: bold;
    }
    .botontarjetaregalo{
        margin-top: 0em;
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
        padding: 10px 15px;
    }
}
#scene{
    width: 100%;
    height: 500px;
    background-image: url('hamburguesa.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.fondo{
    width: 150%;
    position: relative;
    right: 20%;
}

.capa{

    text-align: center;
    /* display: block; */
    padding-top: 250px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    width: 100%;
    
}
.capa2{
    text-align: center;
}
.contenedortarjetas {
    min-height: 400px;
    background: transparent;
}
#pedidosdespl{
    position: fixed;
    /* margin-top: 50px; */
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-99.9%);
    transition: 1s ease all;
    /* background-color: red; */
    background-image: url('papel.jpg');
    background-size: contain;
    background-position: center;
    /* overflow: scroll; */
}

.subtitulopedido{
    display: inline;
}
.bi-heart-arrow{
    font-size: 40px;
   position: relative;
   top: 7px;
   margin-right: 10px;
}
.detalle_pedido{
    display: flex;
    flex-wrap: wrap;
}
.contenido_pedido{
    margin: 0px 50px;
}
.cajapedidos{
    margin-left: 20%;
    margin-top: 100px;
    height: 700px;
    overflow-y: scroll;
}

#sugerencias{
    position: fixed;
    top: 0;
    /* margin-top: 50px; */
    height: 100%;
    width: 100%;
    transform: translateX(99%);
    transition: 1s ease all;
    background-image: url('papel.jpg');
    background-size: contain;
    background-position: center;

}
.abrir_pedidos{
    /* position: fixed;
    top: 100px;
    left: 0px; */
    position: relative;
    top: 0PX;
    left: 50PX;
    float: right;
    z-index: 999;
    transform: translateX(0%);
    background-color: #bfbfbf00;
    border-style: none;
    background-image: url('volverpedido.png');
    width: 215px;
    height: 220px;
}
.abrir_sugerencias{
    position: relative;
    top: 100px;
    left: -80px;
    z-index: 888;
}
#pedidos{
    width: 100%;
    height: 100%;
    background-color: #c75600;
    position: fixed;
    top: 0;
    transform: translateY(99%);
    transition: 1s ease all;
    z-index: 999999999;
}
#abrir_pedidos{
    position: relative;
    top: -50px;
    left: 620px;
    height: 200px;
}
#inicio_sesion{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: red;
    transform: translateY(-99%);
    transition: 1s ease all;
}
#btn_inicio_sesion{
position: relative;
height: 100px;
top: 92%;
left: 625px;
}
#despcesta{
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 50px;
    background-color: rgba(255, 0, 0, 0.486);
    right: 0;
    transition: 1s ease all;
    transform: translateX(0%);
}
@media (max-width: 500px) {
    #despcesta{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        padding: 50px;
        background-color: red;
        right: 0;
        transition: 1s ease all;
        transform: translateX(0%);
    }
    #btn_inicio_sesion{
        position: relative;
        height: 100px;
        top: 92%;
        left: 140px;
        }
    #abrir_pedidos{
        position: relative;
        top: -50px;
        left: 140px;
        height: 200px;
    }
    #pedidosdespl{
        position: fixed;
        /* margin-top: 50px; */
        top: 0;
        height: 100%;
        width: 100%;
        transform: translateX(-99%);
        transition: 1s ease all;
        /* background-color: red; */
        background-image: url('papel.jpg');
        background-size: 200% 200%;
        background-position: left;
        /* overflow: scroll; */
    }
    .cajapedidos{
        margin-left: 17%;
        position: relative;
        top: -100px;
        height: 500px;
        width: 300px;
        overflow-y: scroll;
    }
    .abrir_pedidos{
        /* position: fixed;
        top: 100px;
        left: 0px; */
        position: relative;
        top: 230PX;
        left: 30PX;
        float: right;
        z-index: 999;
        transform: translateX(0%);
        background-color: #bfbfbf00;
        border-style: none;
        background-image: url('volverpedido.png');
        background-size: cover;
        width: 120px;
        height: 130px;
    }
    .subtitulopedido{
        display: inline;
        font-size: 14px;
    }
}

